*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild


# Release files
/app/release/
*.aab
*.apk
/app/build/
/gradle/
.gradle/

# ProGuard rules (local build configuration)
/app/proguard-rules.pro
